@import '../../assets/style/resources';

.user-page {
  width: 100%;
  height: 100%;
  padding: 32px 0 0;
  background-color: $color-background-black;

  > .action {
    position: fixed;
    right: 80px;
    bottom: 100px;
    padding: 12px 24px;
    font-size: 15px;
    cursor: pointer;
    background-color: $color-base-white;
    border: 0;
    border-radius: 8px;
  }
}

.image-content {
  display: grid;
  flex: 0;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 150px);
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;

  > .image {
    flex: 0;
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 8px;
  }
}
